*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif
}
.container {
    max-width: 1200px;
    align-items: center;
    margin: auto;
    padding: 20px;
}
/*Navigation bar*/
.navigation{
    display: flex;
    justify-content: space-between;  
    gap: 50px;
}
.btn{
    background-color: #2563EB;
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
}
.navitem{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: #575757;
    align-items: center;
}
/*Hero Section*/
.Hsection{
    background-image:linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),url('./images/banner.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero{
    color: #ffffff;
    text-align: center;
    padding: 110px;
}
.hero h1{
    font-size: 80px;
}
.hero h3{
    font-size: 22px;
    color: #ffffff;
}
.hero .btn{
    margin-top: 400px;
} 
/*Speaker Intro*/
.container h1{
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin: 50px;
}
.speaker{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.speaker-item{
    border: #E5E7EB solid 1px;
    padding-bottom: 15px;
    border-radius: 20px;
}
.speaker-item h4{
    font-size: 12px;
    color: #2563EB;
    padding: 5px;
}
.speaker-item h2{
    font-size: 20px;
    color: #0D1B2A;
    padding: 5px;
}
.speaker-item p{
    font-size: 14px;
    color: #575757;
    padding: 5px;
}
.speaker-item img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
/*Offer section*/
.offer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.offer-item h4{
    text-align: left;
    font-size: 48px;
    color: #0D1B2A;
}
.offer-item{
    border: #E5E7EB solid 1px;
    padding-bottom: 15px;
    border-radius: 20px;
    padding: 30px;
}
.container h5{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    columns: #575757;
    margin-bottom: 50px;
}
.offer-item h2{
    font-size: 44px;
    text-align: left;
}
.offer-item p{
    font-size: 14px;
    text-align: left;
    color: #333333;
}
.offer-item ul{
    font-size: 14px;
    text-align: left;
    color: #333333;
    margin-left: 20px;
    margin-bottom: 20px;
}
ul li{
    margin-bottom: 15px;
}
ul li::marker {
    color: #2563EB;
}
.offer-item hr{
    margin: 20px 0;
    border: #616161 0.5px solid;
}
.btn2{
    padding: 11px 110px;
    border-radius: 10px;
    border-color: #2563EB;
    color: #2563EB;
    font-size: 14px;
    text-align: center;
    align-items: center;
}